
<div *ngIf="controlType==''">
<mat-form-field appearance="outline">
    <mat-label>{{title}}</mat-label>
     <input [(ngModel)]="inputModel" (ngModelChange)="inputModelChange.emit(inputModel)" matInput formControlName="formControlName1.toString()"  required="{{req}}"><!--placeholder="Placeholder" -->
    <mat-icon matSuffix></mat-icon>
    <!-- <mat-hint>Hint</mat-hint>  pattern="^([^0-9]*)$"-->
</mat-form-field>
</div>
{{form.valid}}
<div *ngIf="controlType=='select'">
<mat-form-field appearance="outline">
    <mat-label>{{title}}</mat-label>
    <mat-select [(ngModel)]="inputModel" (ngModelChange)="inputModelChange.emit(inputModel)" required="{{req}}">
      <mat-option  *ngFor="let item of selectList" formControlName="{{formControlName1.toString()}}"  [value]="item.code">
        {{item.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
